<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Server Error xxx</title>
    <style>
        body {
            background-image: linear-gradient(black, rgb(0, 0, 44));
        }
        h1, p {
            font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
            color: white;
        }
    </style>
</head>
<body>
    <h1>There was an UNSPECIFIED ERROR.</h1>
    <p>Oh no! MORE TEXT HERE</p>
</body>
</html>